@model ICollection<GetHotsViewModel>

@{
    var date = Model.ToList();
}
<div class="row">
    <div class="panel panel-success">
        <div class="text-center text-info panel-heading">Горещи Мачове</div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Час</th>
                        <th>Домакин - Гост</th>
                        <th>1</th>
                        <th>Х</th>
                        <th>2</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in date)
                    {
                        <tr>
                            <td>@d.Date.ToString("dd/MM")</td>
                            <td>@d.Date.ToString("HH:mm")</td>
                            <td>@Html.ActionLink(d.HomeTeam + "-" + d.AwayTeam, "Match", "Match", new { id = d.Id }, new { })</td>
                            <td>@String.Format("{0:0.00}", d.HomeCoef)</td>
                            <td>@String.Format("{0:0.00}", d.DrawCoef)</td>
                            <td>@String.Format("{0:0.00}", d.AwayCoef)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
