@model ICollection<LastMatchesViewModel>

@{
    var date = Model.ToList();
}

<div class="panel panel-success">
    <div class="panel-heading text-center">Последни Резултати</div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Час</th>
                    <th>Домакин - Гост</th>
                    <th>Резултат</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var d in date)
                {
                    <tr>
                        <td>@d.StartTime.TimeOfDay</td>
                        <td>@d.HomeTeam - @d.AwayTeam</td>
                        <td>@d.HomeGoals : @d.AwayGoals</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>