@model FootballOracle.Areas.Admin.Models.AddMatchViewModel

@using (Html.BeginForm("AddMatch", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.LabelFor(x => x.HomeTeam)
    @Html.DropDownListFor(x => x.HomeTeam, Model.Teams , new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.HomeTeam, "",  new { @class = "text-danger" })
    <br />
    @Html.LabelFor(x => x.AwayTeam)
    @Html.DropDownListFor(x => x.AwayTeam, Model.Teams, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AwayTeam, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(x => x.ChampionshipId)
    @Html.DropDownListFor(x => x.ChampionshipId, Model.Championships, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ChampionshipId, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.HomeCoefficient)
    @Html.TextBoxFor(x => x.HomeCoefficient, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.HomeCoefficient, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(x => x.DrawCoefficient)
    @Html.TextBoxFor(x => x.DrawCoefficient, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.DrawCoefficient, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(x => x.AwayCoefficient)
    @Html.TextBoxFor(x => x.AwayCoefficient, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AwayCoefficient, "", new { @class = "text-danger" })
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Add Match" />
        </div>
    </div>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@