@model FootballOracle.Areas.Admin.Models.AddTeamViewModel

@using (Html.BeginForm("AddTeam", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(x => x.Picture)
    @Html.TextBoxFor(x => x.Picture, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Picture, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(x => x.ChampionshipId)
    @Html.DropDownListFor(x => x.ChampionshipId, Model.Championships, new { @class = "form-control" })
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Add Team" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}